* {
    box-sizing: border-box;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #3b4487;
}




/* ------------- HEADER -------------*/
  
.separador1{
    text-align: center;
    border: 2px solid rgb(255, 163, 77);
    /* background-color: rgb(71, 77, 186);; */
    max-width: 100%;
    padding: 20px;
}


.mainMenu {
    align-items: center;
    height: auto; 
    background-color: #4b43a2;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px; 
}

.mainMenu .logo1 {
    cursor: pointer;
}

.mainMenu .logo1 img {
    height: 90px; 
    transition: all 0.3s;
}

.mainMenu .logo1 img:hover {
    transform: scale(1.2);
}

.menu-icon {
    display: none; 
}

.mainMenu nav {
    display: flex;
    align-items: center;
}

.mainMenu .nav-menu {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0; 
}

.mainMenu .nav-menu li {
    margin: 5px; 
}


.mainMenu .nav-menu a {
    color: #1b3039;
    padding: 9px 25px;
    background: #d6caff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

.mainMenu .nav-menu li a:hover {
    color: #ff5a0e;
}


/* ------------- BANNER -------------  */

.frase1{
    color: #ff9143;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    text-align: center;
    margin-bottom: 20px;
}


.banner {
    display: grid;
    place-items: center;
    max-width: 100%;
    overflow: hidden;
}

.banner img {
    width: 100%;
    height: auto;
}

/* ------------- SHOWCASE -------------  */


.frase2
{
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
    border: solid 2px;
    /* background-color: rgb(71, 77, 186);; */
    padding: 10px 20px;
    color: #ff9143;
}

.showContainer {
    max-width: 90%; 
    margin: 0 auto;
    padding: 20px;
}

.juegosShowcase {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
    gap: 20px;
    justify-content: space-between;
    align-content: center;
    align-items: start;
    justify-items: center;
    margin-top: 80px;
}

.showcase1 {
    padding: 15px; 
    text-align: center;
    max-width: 300px; 
    transition: all 0.3s ease; 
}

.showcase1:hover {
    transform: scale(1.2);
}

.showcase1 img {
    max-width: 100%;
    height: auto;
}

.showcase1 .info {
    margin-top: 10px;
}

.showcase1 .info h2 {
    margin-bottom: 5px;
    color: #fb9c49;
}

.showcase1 .info p {
    margin-bottom: 5px;
}





/* ----------- FOOTER --------------- */

.extraShowcase {
    margin: auto;
    width: 80%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #4750a3;
    padding: 5rem;
    border: double 10px
}

.fiveT{
    background-color: #ffefe8;
    font-size: 50px;
    font-weight: 500;
}



@media screen and (max-width: 768px)

{
    .mainMenu .nav-menu {
        display: none; 
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        background-color: #3b4487;
        padding: 10px;
    }

    .mainMenu .nav-menu.active {
        display: flex; 
        flex-direction: column;
        align-items: center;
    }

    .menu-icon {
        display: block; 
        font-size: 24px;
        cursor: pointer;
    }

    .mainMenu nav {
        position: relative;
    }

    .mainMenu label {
        position: absolute;
        top: 20px;
        right: 20px;
    }
}